a {
  color: #2a2a2a;
  font-family: "Times New Roman", "serif";
  font-style: italic;
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: #2a2a2a;
  }
}

img {
  height: auto;
  max-width: 100%;
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
